a {
    text-decoration: none;
}

.Wrap{
    display: inline-block;
}

.Text{
    color: var(--button-text-color);
    transition: color 300ms linear;
}

.DescDiv{
    position: relative;
    left: 15px;
    width: 300px;
}

.RatingDiv{
    position: relative;
    left: 13px;
}

.Mother{
    margin-top: 20px;
    border-style: solid;
    border-radius: 50px;
    position: relative;
    left: 100px;
    width: 500px;
    display: flex;
    background: var(--movies-background);
    transition: color 200ms linear;
}

.ImgDiv{
    position: relative;
    bottom: 20px;
}

.TitleDiv{
    position: relative;
    top: 10px;
    left: 15px;
}

.Title{
    font-weight: bold;
    font-size: large;
    color: white;
    transition: color 300ms linear;
    width: 300px;
}

.Desc{
    color: white;
    transition: color 300ms linear;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.Father{
    display: inline-block;
    position: relative;
    margin-left: 50px;
    top: 50px;
    right: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Img{
    width: 130px;
    height: 200px;
    margin-left: 40px;
    margin-top: 50px;
}

@-webkit-keyframes pulseBox {
    0% {-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);}
    100% {-webkit-box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.9);}
}
@-moz-keyframes pulseBox {
    0% {-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);}
    100% {-moz-box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.9);}
}
@-o-keyframes pulseBox {
    0% {-o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);}
    100% {-o-box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.9);}
}
@keyframes pulseBox {
    0% {box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);}
    100% {box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.9);}
}

.pulseBox:hover {
    -webkit-animation-name: pulseBox;
    -moz-animation-name: pulseBox;
    -o-animation-name: pulseBox;
    animation-name: pulseBox;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    border-style: solid;
    border-radius: 50px;
}

.ButtonsDiv{
    display: flex;
    justify-content: space-around;
    position: relative;

}

.bubblyButton {
    width: 200px;
    font-family: "Helvetica", "Arial", sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--button-background-color);
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    right: 50px;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(49, 49, 49, 0.5);
}
.bubblyButton:focus {
    outline: 0;
}
.bubblyButton:before, .bubblyButton:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}
.bubblyButton:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ffffff 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ffffff 20%, transparent 30%), radial-gradient(circle, #ffffff 20%, transparent 20%), radial-gradient(circle, #ffffff 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubblyButton:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ffffff 20%, transparent 20%), radial-gradient(circle, #ffffff 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ffffff 15%, transparent 20%), radial-gradient(circle, #ffffff 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubblyButton:active {
    transform: scale(0.9);
    background-color: #ffffff;
    box-shadow: 0 2px 25px rgba(96, 96, 96, 0.2);
}
.bubblyButton.animate:hover {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}
.bubblyButton.animate:hover {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.navMenu {
    position: absolute;
    top: 50%;
    left: 715px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.Wraps{
    position: relative;
    bottom: 30px;

}

.Wr{
    position: relative;
    width: 700px;
    left: 60%;
}

.films{
    position: relative;
    top: 100px;
    left: 6%;
}

.navMenu a {
    color: var(--button-text-color);
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 80px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
    color: #fddb3a;
}

.navMenu .dot {
    position: relative;
    top: 5px;
    left: 10px;
    width: 10px;
    height: 10px;
    background: #fddb3a;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(110px);
    transform: translateX(110px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(285px);
    transform: translateX(285px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.loading{
    position: relative;
    z-index: 5;
    top: 400px;

}

.TextDiv{
    position: absolute;
    margin-left: 665px;
}

.Text{
    color: var(--button-text-color);
    transition: color 300ms linear;
    font-size: xx-large;
    font-weight: bold;
}
