.NameDiv{
    position: relative;
    top: 30px;
    margin-left: 10px;
}

.Border{
    width: 120px;
    height: 20px;
    border: 1px solid rgba(2, 2, 2, 0);
    border-radius: 10px;
    background: #565656;
}

.Name{
    text-align: center;
    font-size: small;
    position: relative;
    bottom: 15px;
    color: white;
}